/* styles.css */

* {
	font-family: Arial, Helvetica, serif;
}

body {
	background-color: dodgerblue;
}

.container {
	width: 500px;
	margin: 50px auto;
	text-align: center;
}

.backgroundImage {
	background-image: url(../img/wrench.png);
	width: 400px;
	height: 400px;
}

.backgroundImage:hover {
	background-image: url(.../img/clock.png);
	cursor: crosshair;
}

h1 {
	font-family: "Alegreya", serif;
		font-size: 4em;
}
